<app-navbar (menuClicked)="childEvent($event)"></app-navbar>

<div class="container" id="desktop-content">
    <div class="charts">
        <div class="row">
            <div class="bar-chart" (click)="openBarChart()">
                <canvas id="barChart">
                </canvas>
            </div>
            <div class="pie-chart">
                <canvas id="pieChart"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="bar-chart">
                <canvas id="ratingChart">
                </canvas>
            </div>
            <div class="counter-container">
                <div class="student-count">
                    <i class="material-icons">person</i>
                    <div class="count-info">
                        <h2>{{numberOfStudent}}</h2>
                        <h3>Total Number of Applicants</h3>
                    </div>
                </div>
                <div class="recruiter-count">
                    <i class="material-icons">work</i>
                    <div class="count-info">
                        <h2>{{numberOfRecruiter}}</h2>
                        <h3>Total Number of Recruiter</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="bar-chart">
                <canvas id="lineChart">
                </canvas>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
