<footer>
    <div class="container">
        <div class="social-media">
            <a href="https://www.facebook.com/BulsuCICT.official" target="_blank"><i class="material-icons">facebook</i></a>
            <a href="#" target="_blank"><i class="material-icons">email</i></a>
            <a href="http://www.bulsu-cict.com/" target="_blank"><i class="material-icons">web</i></a>

        </div>
        <div class="copyright">
            College of Information and Communications Technology Local Registrar © 2022| ALL RIGHTS RESERVED
        </div>
    </div>
</footer>