<mat-dialog-content>
    <div class="container-pending" *ngIf="jobOfferData.status == 'Pending' ">
     
        <div class="body">
            <div class="student-container">
                <div class="student-information">
                    <h2>Student Information</h2>
                    <img [src]="student.profilePicture ? student.profilePicture:'./assets/images/defaultimage.jpg'" alt="">
                    <p> <b>Student Name: </b>{{student.name | titlecase}}</p>
                    <p> <b>Gender: </b>{{student.gender |titlecase}}</p>
                    <p> <b>Address: </b>{{student.address |titlecase}}</p>
                    <p> <b>Email: </b>{{student.email}}</p>
                    <p> <b>Contact #: </b>{{student.contactNo}}</p>
                    <p> <b>Skill/s: </b>
        
                    </p>
                    <ul>
                        <li *ngFor="let skill of student.skills"> {{skill | titlecase}}</li>
                    </ul>
                    <p> <b>Resume: </b><a [href]="student.resume" target="_blank">Resume Link</a></p>
                </div>
                 <div class="sentiment-chart">
                                        
                                <canvas id="myChart-sideNav"></canvas>
                    
                        </div>
                <ngx-star-rating [(ngModel)] = "rating" [id]="'rating'" name="rating" [disabled]="true"  ></ngx-star-rating>
                <h4>{{ratingLabel | number : '1.2-2'}}</h4>
            </div>
         

            <div class="joboffer-information">
                <h2>Job Offer Information</h2>
                <p> <b>Job Position: </b>{{jobOffer.jobPosition}}</p>
                <p> <b>Job Description: </b>{{jobOffer.jobDescription}}</p>
                <p> <b>Location: </b>{{jobOffer.location}}</p>
                <p> <b>Vacancy: </b>{{jobOffer.vacancy}}</p>
                <p> <b>Hiring Date: </b>{{jobOffer.dateDuration}}</p>
                <p> <b>Skill/s Needed: </b>
    
                </p>
                <ul>
                    <li *ngFor="let skill of jobOffer.skills"> {{skill | titlecase}}</li>
                </ul>
            </div>

         
           


        </div>
        <div class="buttons">
            <button mat-raised-button (click)="acceptApplicant()" >Accept</button>
            <button mat-raised-button (click)="rejectApplicant()" >Reject</button>
           
        </div>

    </div>

    <div class="container-processing" *ngIf="jobOfferData.status == 'Processing' || jobOfferData.status == 'Hired' || jobOfferData.status == 'Confirmation'">
        <div class="body">

            <div class="student-container">
                <div class="student-information">
                    <h2>Student Information</h2>
                    <img [src]="student.profilePicture ? student.profilePicture:'./assets/images/defaultimage.jpg'" alt="">
                    <p> <b>Student Name: </b>{{student.name | titlecase}}</p>
                    <p> <b>Gender: </b>{{student.gender |titlecase}}</p>
                    <p> <b>Address: </b>{{student.address |titlecase}}</p>
                    <p> <b>Email: </b>{{student.email}}</p>
                    <p> <b>Contact #: </b>{{student.contactNo}}</p>
                    <p> <b>Skill/s: </b>
        
                    </p>
                    <ul>
                        <li *ngFor="let skill of student.skills"> {{skill | titlecase}}</li>
                    </ul>
                    <p> <b>Resume: </b><a [href]="student.resume" target="_blank">Resume Link</a></p>
                </div>
                <div class="sentiment-container">
                    <div class="sentiment-chart">
                                        
                        <canvas id="myChart-sideNav2"></canvas>
            
                    </div>
                <ngx-star-rating [(ngModel)] = "rating" [id]="'rating'" name="rating" [disabled]="true"  ></ngx-star-rating>
                <h4>{{ratingLabel | number : '1.2-2'}}</h4>
                </div>

            </div>
             
            <div class="joboffer-information">
                <h2>Job Offer Information</h2>
                <p> <b>Job Position: </b>{{jobOffer.jobPosition}}</p>
                <p> <b>Job Description: </b>{{jobOffer.jobDescription}}</p>
                <p> <b>Location: </b>{{jobOffer.location}}</p>
                <p> <b>Vacancy: </b>{{jobOffer.vacancy}}</p>
                <p> <b>Skill/s Needed: </b>
    
                </p>
                <ul>
                    <li *ngFor="let skill of jobOffer.skills"> {{skill | titlecase}}</li>
                </ul>
            </div>

         
           


        </div>
        <div class="message-container" *ngIf="application.status != 'Pending'">
            <div class="recruiter-information">
                <img [src]="student.profilePicture ? student.profilePicture:'./assets/images/defaultimage.jpg'">
                <h2>{{student.name | titlecase}}</h2>


            </div>
            <div class="chat-box" #chatBox>
                <ng-container *ngFor="let message of messages">


                    <div class="right" *ngIf="message.sender == userId">
                       
                   

                        <div class="recruiter-image">
                            <img [src]="recruiter.photoURL ? recruiter.photoURL:'./assets/images/defaultimage.jpg'">

                        </div>
                        <div class="recruiter-message">
                            <p> {{message.message}}</p>
                          
                            <a [href]="message.attachment" target="_blank" *ngIf="message.attachment && message.attachmentType == 'image'"> <img [src]="message.attachment"></a>
                            <a [href]="message.attachment" target="_blank" *ngIf="message.attachment && message.attachmentType == 'application'">{{message.attachmentName}}</a>
                            <a [href]="message.attachment" target="_blank" *ngIf="message.attachment && message.attachmentType == 'text'">{{message.attachmentName}}</a>
                        </div>

                        <p class="chat-date"> {{message.date}}</p>

                    </div>
                    <div class="left" *ngIf="message.sender != userId">
                        <div class="student-image">
                            <img [src]="student.profilePicture ? student.profilePicture: './assets/images/defaultimage.jpg'" alt="">
                        </div>
                        <div class="student-message">

                            <p> {{message.message}}</p>
                            <a [href]="message.attachment" target="_blank" *ngIf="message.attachment && message.attachmentType == 'image'"> <img [src]="message.attachment"></a>
                            <a [href]="message.attachment" target="_blank" *ngIf="message.attachment && message.attachmentType == 'application'">{{message.attachmentName}}</a>
                            <a [href]="message.attachment" target="_blank" *ngIf="message.attachment && message.attachmentType == 'text'">{{message.attachmentName}}</a>
                        </div>

                        <p class="chat-date"> {{message.date}}</p>
                    </div>
                </ng-container>
            </div>

            <div class="message-box">
                <div class="attachment">
                    <button (click)="attachment.click()">  <mat-icon> file_present </mat-icon> </button>

                    <input type="file" hidden accept="application/pdf,application/text, image/*" name="attachment" id="attachment" ngModel #attachment (change)="getAttachment($event)">
                </div>
                <form #Responsebox="ngForm" (ngSubmit)="submitResponse(Responsebox.value)">

                    <mat-form-field appearance="outline">
                        <div class="attachment-name" *ngIf="attachmentName">
                            <button (click)="removeAttachment()"><mat-icon > close</mat-icon></button>
                            <p>{{attachmentName}}</p>
                        </div>

                        <mat-label>Message</mat-label>
                        <textarea matInput [(ngModel)]="message" type="text" name="message" placeholder="Enter your message here">
                            
                            </textarea>

                    </mat-form-field>
                    <input type="hidden" name="jobOfferId" [(ngModel)]="jobOfferData.id" #applicationId="ngModel">
                    <button mat-button type="submit"><span class="material-icons">message</span></button>
                </form>
            </div>
            <div class="buttons" >
                <button mat-raised-button (click)="hire()" *ngIf="jobOfferData.status == 'Processing'">Hire</button>
                <button mat-raised-button (click)="reject()" *ngIf="jobOfferData.status == 'Processing'">Reject</button>
                <button mat-raised-button (click)="addReviewStudent()" *ngIf="jobOfferData.status == 'Hired' && isReviewed == false && isThreeMonthsElapse == true"  >Add Review</button>
            </div>
            
    </div>
    
    </div>


</mat-dialog-content>