<mat-dialog-content>
    <div class="addevaluator-container">
        <h2>Add Recruiter</h2>
        <form #Registerform="ngForm" (ngSubmit)="registerUser(Registerform.value)">

            <mat-form-field appearance="outline">
                <mat-label>Company Name</mat-label>
                <input matInput ngModel type="text" name="companyName" placeholder="Enter Company Name" #firstName="ngModel" required>

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Recruiter Name</mat-label>
                <input matInput ngModel type="text" name="recruiterName" placeholder="Enter Recruiter Name" #middleName="ngModel">
            </mat-form-field>




            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>

                <input matInput ngModel type="email" name="email" placeholder="Enter Email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                <mat-error *ngIf="email.invalid">Please use a valid email</mat-error>
            </mat-form-field>





            <div class="passwords">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput ngModel type="password" name="password" placeholder="Enter Passwod" #password="ngModel" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
                    <mat-error *ngIf="password.errors?.['pattern']"> Password must be atleast 8 characters, contains uppercase, contains number</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput ngModel type="password" name="repassword" placeholder="Confirm Passwod" #repassword="ngModel" required [pattern]="password.value">
                    <mat-error *ngIf="repassword.value != password.value && repassword.touched"> Password doesn't matched</mat-error>

                </mat-form-field>
            </div>





            <button mat-raised-button type="submit" [disabled]="Registerform.invalid"> Add</button>



        </form>





    </div>
</mat-dialog-content>