<div class="container">
    <h2>Data Privacy Policy</h2>
    <mat-dialog-content>
        <div class="contents">
            <p>
                Data and Privacy
                Hello! Your privacy is important to WorkOnIT. Please read this Privacy Notice carefully as it forms part of the Terms of Use which govern the use of the WorkOnIT.
                This Privacy Notice explains-:</p>
       
            <ol>
                <li>The purposes for which WorkOnIT collects and processes your personal information;</li>
                <li>Your right to access and correct your personal information;</li>
                <li>The class of third parties to which WorkOnIT may disclose your personal information to;</li>
                <li>Whether it is obligatory or voluntarily for you to supply the personal information and the consequences of failing to provide your personal information when it is obligatory; and</li>
                <li>How WorkOnIT safeguards the confidentiality and security of your personal information.
                    From your use of the WorkOnIT website</li>
            </ol>
            <p>All terms refer to them how we store, use, transfer, and delete the information to undertake the process of our assistance to the students in the most appropriate manner for the express purpose of meeting the students’ concerns in accordance
                with the Data Privacy Act of 2012.</p>
            <p>We collect personal information directly from you when you choose to engage any of the WorkOnIT Websites. The following are examples of personal information WorkOnIT may collect directly from you:</p>
            <ul>
                <li>Age;</li>
                <li>Date of birth;</li>
                <li>Telephone number or mobile number;</li>
                <li>Your Picture;</li>
                <li>Resume; and</li>
                <li>Personal Skill;</li>

            </ul>
        </div>
    </mat-dialog-content>
</div>