.container {
    display: flex;
    height: max-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: max-content;
    border-right: 4px solid #444444;
}

.left-side button {
    position: relative;
    left: -70px;
    bottom: 40px;
    background-color: rgba(255, 170, 40,1);
    color: #444444;
    height: 60px;
    width: 60px;
    border: 2px solid rgba(255, 170, 40,1);
    transition: .3 ease;
}

.left-side mat-icon {
    transform: scale(.8);
    color: white;
}

.left-side button:hover {
    background-color: white;
}

.left-side button:hover mat-icon {
    color: #444;
}

.recruiter-name {
    margin: 30px 0;
    width: 100%;
    text-align: center;
}

.recruiter-name h2 {
    font-size: 3rem;
    color: #444444;
    font-weight: bolder;
    line-height: 100%;
}

.profile-picture img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border: 4px solid rgba(255, 170, 40,1);
    border-radius: 10%;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: max-content;
    margin-left: 30px;
}

.personal-information {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.personal-information h3 {
    font-size: 2rem;
    background-color: #444444;
    color: white;
    width: 50%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.merge {
    display: flex;
    width: 60%;
    margin-left: 30px;
    align-items: center;
}

.merge i {
    margin-right: 10px;
    font-size: 30px;
}

.merge a {
    margin-right: 10px;
    font-size: 1rem;
}

.merge p {
    margin-right: 10px;
    font-size: 1rem;
    margin-top: 10px;
}

.skills-container h3 {
    font-size: 2rem;
    background-color: #444444;
    color: white;
    width: 20%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.skills-container ul {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.skills-container li {
    font-size: 1rem;
    margin-left: 30px;
}

.company-container img {
    height: 200px;
    width: 300px;
    object-fit: contain;
}

.company-container h3 {
    font-size: 2rem;
    background-color: #444444;
    color: white;
    width: 30%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: 150px;
    margin-top: 50px;
}

.buttons button:enabled {
    background-color: rgba(255, 170, 40,1);
    border-radius: 40px;
    width: 170px;
    height: 50px;
    font-size: 18px;
    color: white;
    border: 2px solid rgba(255, 170, 40,1);
    transition: .3 ease;
    margin: 0 10px;
}

.buttons button:disabled {
    background-color: rgba(255, 170, 40,0.5);;
    border-radius: 40px;
    width: 170px;
    height: 50px;
    font-size: 18px;
    color: white;
    transition: .3 ease;
    margin: 0 10px;
}

.buttons button:enabled:hover {
    color: #444444;
    background-color: white;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form-merge {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mat-form-field {
    font-size: 18px;
    width: 100%;
    margin: 0 5px;
}

mat-label {
    color: #444;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(255, 170, 40,1);
    border-width: 3px !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgba(255, 170, 40,1);
}

.mat-input-element {
    color: #444;
}

.mat-input-element::placeholder {
    color: #444;
}

.section option {
    background-color: #444;
}

.section .mat-input-element::placeholder {
    color: black;
}

.skills-container button {
    margin-left: 10px;
    margin-top: 10px;
    height: max-content;
    background-color: rgba(255, 170, 40,1);
    border: 2px solid rgba(255, 170, 40,1);
    transition: .5 ease;
}

.skills-container button:hover {
    background-color: white;
    color: #444;
}

.skills-container mat-form-field {
    width: 30%;
}

.inputted-skills {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.skill {
    background-color: lightgray;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    width: max-content;
    align-items: center;
    margin: 10px;
}

.skill-name {
    margin-left: 5px;
}

.skill mat-icon {
    transform: scale(.8);
    cursor: pointer;
    margin-top: 5px;
    border: 1px solid #444;
    border-radius: 100%;
}

.merge button {
    height: max-content;
    background-color: rgba(255, 170, 40,1);
    border: 2px solid rgba(255, 170, 40,1);
    transition: .5 ease;
}

.merge button:hover {
    background-color: white;
}

.merge button:hover mat-icon {
    color: #444;
}

.merge button mat-icon {
    transform: scale(.8);
    color: white;
}

#sideNav-content {
    display: none;
}

.navlinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: max-content;
  
}

.navlinks a {
    text-decoration: none;
    color: #444;
    font-size: 1.5rem;
    margin: 20px 5px;
  
}

.navlinks button {
    width: 100%;
    text-align: left;
    height: 80px;
}


mat-sidenav {
    width: 50%;
}

@media only screen and (max-width: 992px) {
    

    #desktop-content {
        display: none;
    }
    #sideNav-content {
        display: flex;
    }
}

@media only screen and (max-width: 790px) {
    *{
        margin: 0;
        padding: 0;
        overflow-x: hidden
    }
    .container{
        flex-direction: column;
        overflow-x: hidden;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .left-side {
        width: 100%;
        border: 0px;
        margin: 0 auto;
        padding: 0;
        
        overflow-x: hidden;
    }
    .right-side {
        width: 100%;
        border: 0px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        overflow-x: hidden;
      
        
    }
    .right-side form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .student-name h2 {
        font-size: 1.5rem;
        
    }
    
    .profile-picture img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border: 4px solid #444444;
        border-radius: 100%;
        margin: 10px 0;
        margin-left:50px;
    }
    .left-side button {
        position: relative;
        left: -70px;
        bottom: 40px;
        background-color: rgba(255, 170, 40,1);
        color: #444444;
        height: 60px;
        width: 60px;
        border: 2px solid rgba(255, 170, 40,1);
        transition: .3 ease;
    }
    
  
    .personal-information h3 {
        font-size: 1.5rem;
        margin: 10px 0;
        width: 50%;
       
        
    }
    .personal-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .merge {
        display: flex;
        width: 100%;
        margin-left: 0px;
        justify-content: center;
        align-items: center;
     
    }
    
    .merge i {
        margin-right: 10px;
        font-size: 30px;
    }
    
    .merge a {
        margin-right: 10px;
        font-size: 1rem;
    }
    .merge h2 {
        font-size: 1rem;
    }
    .skills-container{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    .skills-container h3 {
        font-size: 1.5rem;
        margin: 0 auto;
        width: 20%;
        padding: 10px;
       
    }

    .resume-container h3 {
        font-size: 1.5rem;
        width: 30%;
        padding: 10px;
        margin: 20px auto;
       
    }
    .buttons {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 20px 0;
    }
    
    .buttons button {
        background-color: rgba(255, 170, 40,1);
        border-radius: 40px;
        width: 160px;
        height: 50px;
        font-size: 18px;
        color: white;
        border: 2px solid rgba(255, 170, 40,1);
        transition: .3 ease;
    }

    .form-merge {
        flex-direction: column;
    }
    .student-name {
        margin: 0;
       
    }
    .company-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .company-container img {
        height: 100px;
        width: 200px;
        
      
    }
    
    .company-container h3 {
        font-size: 1.5rem;
        margin: 0;
        width: 50%;
  
    }
    mat-form-field {
        font-size: 1rem;
        width: 90%;
        margin: 0 5px;
    }
 
    #desktop-content {
        display: none;
    }
    #sideNav-content {
        display: flex;
    }
}