<div class="container">
    <h3>Forgot Password</h3>
    <form #Forgotform="ngForm" (ngSubmit)="Forgotpassword(Forgotform.value)">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" name="email" #email="ngModel" required ngModel placeholder="Enter Email" matInput pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <mat-error *ngIf="email.invalid">Not a valid email</mat-error>
        </mat-form-field>



        <button type="submit" mat-raised-button [disabled]="Forgotform.invalid">Reset</button>

    </form>
</div>