<mat-dialog-content>
    <div class="container">
        <table id="ratings">
            <tr>
                <th>FEEDBACK</th>
                <th>SENTIMENT</th>
            </tr>
            <tr *ngFor="let rating of ratingsDataArr">
                <td>
                    <ngx-star-rating [(ngModel)] = "rating.rating" [id]="'rating'" name="rating" [disabled]="true"  ></ngx-star-rating>
                    <h3>By: <b>{{rating.studentName | titlecase}}</b></h3>
                    <p>{{rating.comment | uppercase}}</p>
                </td>
                <td>
                    <h2 *ngIf="rating.sentimentResult == 'Positive'" style="color: #22ec22;">{{rating.sentimentResult}}</h2>
                    <h2 *ngIf="rating.sentimentResult == 'Negative'" style="color: #FF0000;">{{rating.sentimentResult}}</h2>
                    <h2 *ngIf="rating.sentimentResult == 'Neutral'" style="color: #808080;">{{rating.sentimentResult}}</h2>
                </td>
            </tr>
            
        </table>
    </div>

</mat-dialog-content>